{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %} Изменить код операции {% endblock %}

{% block content %}
<div class="container">
 <h4>Изменить код операции</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>

</div>
{% endblock %}
{% block js_files %}
<script src="{% static 'main/js/script.js' %}"></script>

{% endblock %}
