{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %} Создать код операции {% endblock %}

{% block content %}<
<style>
  /* Standart Bootstrap stilleri */
  /* Form alanı */
  form.custom-form {
    background-color: #f8f9fa;
    color: #212529;
    padding: 20px;
    border-radius: 5px;
  }

  /* Metin alanı */
  form.custom-form textarea {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: calc(3 * 1.5rem); /* Üç satır yükseklik */
  }

  /* Gönder düğmesi */
  form.custom-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }

  /* Gönder düğmesi üzerine gelindiğinde */
  form.custom-form button:hover {
    background-color: #0056b3;
  }

</style>
<div class="container">
  <h4 class="mt-5 mb-4">Создать код операции</h4>
  <div class="row">
    <div class="col-md-6">
      <form method="post" class="custom-form">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>
    </div>
  </div>

{% endblock %}
