{% extends "material/base.html" %}
{% load static %}

{% block title %} {% endblock %}

{% block content %}

{% include 'partials/print.html' %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<div id="table-container" class="">
<h4 class="mt-1">Список материалов</h4>
<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Материал</th>
            <th scope="col">Остаток</th>
            <th scope="col">Тип измерения</th>
            <th scope="col">Примичение</th>
            <th scope="col">Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for malzeme in malzemeler %}
            <tr>
                <td><a href="{% url 'malzeme_detayi' malzeme.pk %}">{{ malzeme.isim }}</a></td>
                <td>{{ malzeme.miktar }}</td>
                <td>{{ malzeme.malzeme_birim }}</td>
                <td>{{ malzeme.aciklama }}</td>
                <td>
                <a href="{% url 'malzeme_edit' malzeme.pk %}" class="btn btn-sm btn-primary">Изменить</a>
                <a href="{% url 'malzeme_delete' malzeme.pk %}" class="btn btn-sm btn-danger">Удалить</a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}