<div class="row mt-2">

    <div class="col-12 col-md-auto mb-2 mb-md-0">
        <a href="{% url 'malzeme_listesi' %}" class="btn btn-secondary btn-sm w-100">Вернутся к списку матеиала</a>
    </div>
    <div class="col-12 col-md-auto mb-2 mb-md-0">
        <a href="{% url 'malzeme_giris' %}" class="btn btn-secondary btn-sm w-100">Поступление матерала</a>
    </div>
    <div class="col-12 col-md-auto mb-2 mb-md-0">
        <a href="{% url 'malzeme_cikis'  %}" class="btn btn-secondary btn-sm w-100">Выход материала</a>
    </div>
    <div class="col-12 col-md-auto mb-2 mb-md-0">
        <a href="{% url 'malzeme_kaydet' %}" class="btn btn-secondary btn-sm w-100">Регистрация материала</a>
    </div>
</div>

