<div class="row mt-2">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary btn-sm" onclick="printTable()">Распечатать</button>
        </div>
        <div class="col-auto">
         <a href="{% url 'malzeme_kaydet' %}" class="btn btn-secondary btn-sm mt-2">Вернутся к списку матеиала</a>
        </div>
        <div class="col-auto">
        <a href="{% url 'malzeme_giris' %}" class="btn btn-secondary btn-sm mt-2">Поступление матерала</a>
        </div>
        <div class="col-auto">
        <a href="{% url 'malzeme_cikis'  %}" class="btn btn-secondary btn-sm mt-2" class="btn">Выход материала</a>
        </div>
        <div class="col-auto">
         <a href="{% url 'malzeme_kaydet' %}" class="btn btn-secondary btn-sm mt-2">Регистрация материала</a>
        </div>
    </div>>