{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container">
  <p>Привет, {{ user.username }}</p>

    <form id="kroy-form" action="{% url 'masterdatauser_list' %}" method="POST">
        {% csrf_token %}
    <ul>
      <li>
          Крой номер:
          <select class="form-select form-select-sm" aria-label="Default select example" name="kroy_no" style="width: 150px;">
              {% for kroy_list in kroy_list %}
                  <option value="{{ kroy_list.kroy_no }}">{{ kroy_list.kroy_no }}</option>
              {% endfor %}
          </select>
      </li>
        <li>
            <div id="operations-select-container">
    <select id="operations-select" class="form-select form-select-sm" aria-label="Default select example" name="operations" style="width: 150px;">
        <!-- AJAX ile doldurulacak -->
    </select>
</div>
        </li>
      <li> Единица:
          <input class="form-control form-control-sm"  name="edinitsa"  style="width: 50px;" required>
      </li>
        <li>
            Status:
            <select class="form-select form-select w-auto" aria-label="Default select example" name="status" style="width: 50px;" required>
    {% for status_choice in status_list %}
        <option value="{{ status_choice }}">{{ status_choice }}</option>
    {% endfor %}
</select>
        </li>
        <input type="hidden" class="" id="230" name="user" value="{{ user.username }}">
      <button type="submit" class="btn btn-secondary mt-2">Завершить</button>
    </ul>
</form>

  {% if request.method == 'POST' %}
    <p>Данные отправлены! {{ user.username }}.</p>
  {% endif %}
<hr>
  <p>Одиночка</p>
  {% for masterdata in kroy_detail_list %}
    <ul>
      <li>{{ masterdata.kroy }}крой </li>
      <li>{{ masterdata.stuk }}штук </li>

    </ul>
  {% endfor %}
</div>
{% endblock %}

{% block js_files %}
  <script src="{% static 'main/js/script.js' %}"></script>
<script>
    document.getElementById("kroy-form").addEventListener("change", function() {
    var kroyNo = document.querySelector("[name='kroy_no']").value;

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/get_operations/?kroy_no=" + kroyNo, true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var operations = JSON.parse(xhr.responseText);
            var operationsSelect = document.getElementById("operations-select");

            operationsSelect.innerHTML = "";

            operations.forEach(function(operation) {
                var option = document.createElement("option");
                option.value = operation.name; // ID numarasını değer olarak ayarla
                option.textContent = operation.name;
                operationsSelect.appendChild(option);
            });
        }
    };
    xhr.send();
});

// Form gönderildiğinde, seçilen operasyonun ID numarasını "operations" alanına ekleyin
document.getElementById("kroy-form").addEventListener("submit", function(event) {
    var selectedOperationId = document.getElementById("operations-select").value;
    document.getElementById("operations").value = selectedOperationId;
});

</script>

{% endblock %}
