

<hr>
<div id="success-message"></div>
<form id="kroy-form" action="">
    {% csrf_token %}

    <label for="kroy-no">Крой:</label>
<select class="form-select form-select" aria-label="Default select example" name="kroy_no" id="kroy-no" style="width: 100%;">
    {% for kroy_list_item in kroy_list %}
        <option value="{{ kroy_list_item.kroy_no }}">{{ kroy_list_item.kroy_no }}</option>
    {% endfor %}
</select>


    Тип одежды:
    <select class="form-select form-select mt-2" aria-label="Default select example" name="type_product" id="type-product" style="width: 100%;" >
    {% for product_type in type_product_list %}
        <option value="{{ product_type.name }}">{{ product_type.name }}</option>
    {% endfor %}
</select>

    Выберите операции:
    <div id="operations-select-container">
         <select class="form-select form-select mt-2" aria-label="Default select example" name="operations" id="operations" style="width: 100%;">
        <option value="">Seçiniz</option>
        <!-- Operations seçenekleri burada gelecek -->
    </select>
    </div>
    <div id="price-display-container">
    <label for="price">Price:</label>
    <span id="price-display"></span>
</div>

    Единица:
    <input class="form-control" type="number" name="edinitsa" style="width: 100%;" required>

    Статус:
    <select class="form-select form-select" aria-label="Default select example" name="status" style="width: 100%;" required>
        {% for status_choice in status_list %}
            <option value="{{ status_choice }}">{{ status_choice }}</option>
        {% endfor %}
    </select>

    <input type="hidden" id="user" name="user" value="{{ user.username }}">
    <button  type="submit" id="submit-btn" class="btn btn-secondary mt-2">Отправить</button>
</form>