{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container">
  <p>Привет, {{ user.username }}</p>

    {% include 'main/mdata/_mdatauser_list.html' %}

</div>
{% endblock %}

{% block js_files %}
<script src="{% static 'main/js/get_operations.js' %}"></script>
<script src="{% static 'main/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}


