{% extends "main/base.html" %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>

{% block title %} Home {% endblock %}

{% block css_files %}

{% endblock %}

{% block content %}
<!-- kroy_masterdata.htm -->


{% include 'main/mdata/_masterdata_list.html' %}


{% endblock %}

{% block js_files %}
<script src="{% static 'main/js/script.js' %}"></script>
<script src="{% static 'js/to_exel.js' %}"></script>

{% endblock %}
