{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %} {% if form.instance.pk %}Изменить крой{% else %}Создать Кроя{% endif %} {% endblock %}

{% block content %}
<div class="container">
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-secondary btn-sm" onclick="printTable()">Распечатать</button>
            <a class="btn btn-secondary btn-sm ml-2" href="{% url 'kroy-list' %}">Вернуться к списку кроя</a>
        </div>
        <div class="col-md-8">
             <form method="GET" action="{% url 'operations_query' %}" class="d-flex align-items-center">

             <select class="form-select form-select-sm ml-2" aria-label="Default select example" name="kroy_id" id="kroy-id" style="width: 100px;">
    {% for kroy_instance in objects %}
        <option value="{{ kroy_instance.id }}">{{ kroy_instance.kroy_no }}</option>
    {% endfor %}
</select>
                 Посмотреть операции:
    <select class="form-select form-select-sm ml-2" aria-label="Default select example" name="product_type_id" id="type-product" style="width: 100px;">

        {% for product_type in product_type_list %}
            <option value="{{ product_type.id }}">{{ product_type.name }}</option>
        {% endfor %}
    </select>
    <div style="margin-left: 3px;"></div> <!-- 3 birimlik boşluk -->
    <button class="btn btn-secondary btn-sm" type="submit">Показать</button>
</form>

        </div>
    </div>
</div>


    <div id="table-container"  class="">
<h4 class="mt-2"> Крой № {{ kroy_instance.kroy_no }} -- {{ kroy_instance.name }}</h4>
<strong> Дата создания:</strong> {{ kroy_instance.created }}, <strong>Расход ткани:</strong> {{ kroy_instance.ras_tkani }},
    <strong>Расход дублерин:</strong> {{ kroy_instance.ras_dublerin }},
    <strong>Единица:</strong> {{ kroy_instance.edinitsa }}</p>
<p><strong>Примечение:</strong> {{ kroy_instance.description }}</p>

        <table class="table table-sm caption-top w-auto h-auto">


<thead class="table-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Пачка</th>
        <th scope="col">Размер</th>
        <th scope="col">Рост</th>
        <th scope="col">Штук</th>
        <th scope="col">Цвет</th>
        <th scope="col">Город</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
</thead>

<tbody>
    {% for detail in kroy_details %}
    <tr> <!-- sadece small-row sınıfı kullanılıyor -->
        <th scope="row"></th>
        <td>{{ detail.pachka }}</td>
        <td>{{ detail.razmer }}</td>
        <td>{{ detail.rost }}</td>
        <td>{{ detail.stuk }}</td>
        <td>{{ detail.color }}</td>
        <td>{{ detail.city }}</td>
        <td>
            <form method="post" action="">
                {% csrf_token %}
                <div class="d-flex ">
                    <select name="user" id="id_user" class="form-select form-select-sm me-2">
                        {% for user_choice in form.fields.user.choices %}
                        <option value="{{ user_choice.0 }}" {% if form.instance.user == user_choice.0 %}selected{% endif %}>{{ user_choice.1 }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-secondary btn-sm" type="submit" >Передать</button>
                </div>
            </form>
        </td>
        <td>
            <a class="btn btn-secondary btn-sm" href="{% url 'kroy-detail-update' pk=detail.pk %}">Изменить</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td >Нет доступных позиций.</td> <!-- Tüm sütunları kaplayan bir hücre eklendi -->
    </tr>
    {% endfor %}
</tbody>
</table>



</div>
</div>
{% endblock %}

{% block js_files %}
<script src="{% static 'main/js/printTable.js' %}"></script>

{% endblock %}

