{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %} Список крой детали {% endblock %}

{% block content %}
<div class="container">
    {% include 'main/kroy/_nav_kroy.html' %}
>
     <table class="table caption-top">
  <caption>Список последний 30 добавленных деталей</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Крой №</th>
      <th scope="col">Пачка</th>
      <th scope="col">Размер</th>
      <th scope="col">Рост</th>
      <th scope="col">Штук</th>
      <th scope="col">Цвет</th>
      <th scope="col">Город</th>
      <th scope="col"> </th>
    </tr>
  </thead>

  <tbody>
     {% for kroy_detail in latest_kroys %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ kroy_detail.kroy }}</td>
      <td>{{ kroy_detail.pachka }}</td>
      <td>{{ kroy_detail.razmer }}</td>
      <td>{{ kroy_detail.rost }}</td>
      <td>{{ kroy_detail.stuk }}</td>
      <td>{{ kroy_detail.color }}</td>
      <td>{{ kroy_detail.city }}</td>
      <td> <a href="{% url 'kroy-detail-update' kroy_detail.pk %}" >изменить</a></td>
    </tr>
     {% empty %}
        <tr>
            <td colspan="9">Нет доступных позиций.</td>
        </tr>
     {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block js_files %}
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock %}
