{% extends "main/base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %}
{% if form.instance.pk %}
Изменить крой
{% else %}
Создать Кроя
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="container mt-2">
    <div class="row">
        <div class="col-auto">

            <button type="submit" class="btn btn-secondary btn-sm" onclick="printTable()">Распечатать</button>
        </div>
        <div class="col-auto">

            <a href="{% url 'kroy-detail-create' kroy_instance.pk %}" class="btn btn-primary btn-sm">Создать крой детали</a>
        </div>
    </div>
</div>
    <div id="table-container" class="">
        <div class="container mt-3">
            Посмотреть операции:
            {% for code in kroy_operation_codes %}
            <a href="{% url 'operation_list' code.operation_code.id %}">
                {{ forloop.counter }}. {{ code.operation_code }} - {{ code.operation_code.product_type.name }}
            </a>
            {% endfor %}
        </div>

        <h4 class="mt-2"> Крой № {{ kroy_instance.kroy_no }} -- {{ kroy_instance.name }}</h4>
        <p><strong> Дата создания:</strong> {{ kroy_instance.created }}, <strong>Расход ткани:</strong> {{ kroy_instance.ras_tkani }},
            <strong>Расход дублерин:</strong> {{ kroy_instance.ras_dublerin }},
            <strong>Единица:</strong> {{ stuk_total }}</p>
        <p><strong>Примечение:</strong> {{ kroy_instance.description }}</p>


        <table class="table table-sm caption-top w-auto h-auto">
            <thead class="table-light">
                <tr>

                    <th scope="col">Пачка</th>
                    <th scope="col">Размер</th>
                    <th scope="col">Рост</th>
                    <th scope="col">Штук</th>
                    <th scope="col">Цвет</th>
                    <th scope="col">Город</th>
                    <th scope="col">Примечение:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>

            <tbody>
                {% for detail in kroy_details %}
                <tr>
                    <!-- sadece small-row sınıfı kullanılıyor -->

                    <td>{{ detail.pachka }}</td>
                    <td>{{ detail.razmer }}</td>
                    <td>{{ detail.rost }}</td>
                    <td>{{ detail.stuk }}</td>
                    <td>{{ detail.color }}</td>
                    <td>{{ detail.city }}</td>
                    <td>{{ detail.description }}</td>
                    <td> <a href="{% url 'kroy-detail-update' detail.pk %}" >изменить</a></td>

                    <td><a href="{% url 'kroy-detail-delete' detail.pk %}" class="text-danger">удалит</a></td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="9">Нет доступных позиций.</td>
                    <!-- Tüm sütunları kaplayan bir hücre eklendi -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}

{% block js_files %}
<script src="{% static 'main/js/printTable.js' %}"></script>
{% endblock %}
