{% extends "main/base.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block title %} Крой Список {% endblock %}

{% block content %}
{% include 'partials/print.html' %}
<div class="container mt-2" id="table-container">

<h4 class="mt-1">Крой Список</h4>
    <table class="table table-striped" >

        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Крой №</th>
            <th scope="col"></th>
            <th scope="col">Наименование</th>
            <th scope="col">Дата создание</th>
            <th scope="col">Единица</th>
            <th>Изменить</th>
            <th>Удалит</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for kroy in object_list %}
        {% if kroy.is_active %}

            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'main:kroy-detail-view' kroy.pk %}" >{{ kroy.kroy_no }}</a></td>
                <td></td>
                <td>{{ kroy.name|slice:":30" }}</td>
                <td>{{ kroy.created|date:"d.m.Y H:i" }}</td>
                <td>{{ kroy.edinitsa }}</td>
                <td><a href="{% url 'main:kroy-update' kroy.pk %}" class="btn btn-warning btn-sm">Изменить</a></td>
                <td>
                    <form method="post" action="{% url 'main:kroy-delete' kroy.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Вы уверены, что хотите удалить этот элемент?');">Удалить</button>
                    </form>
                </td>
                <td></td>
                <td></td>
            </tr>

        {% endif %}
        {% empty %}
        <tr>
            <td colspan="10">В системе нет активного кроя</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block js_files %}
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock %}
